body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    .header {
        @extend %header;
      }

      .header-logo {
        padding-top: 6px;
        max-width: 120px;
        
      }
      
      .nav-a {
        @extend %nav-a;
      }
      .nav-a:hover {
        color: #2980b9;
        transition: 1s;
      }
  }
  