%header {
    padding: 20px 15px;
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%nav-a {
    font-size: 18px;
    color: white;
    margin-left: 18px;
    text-decoration: none;
}



